@using Projet.Models;
@model Admin
@{
    ViewData["Title"] = " Admin Sign In";
}

<style>
    .custom-shape-divider-bottom-1671462737 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

        .custom-shape-divider-bottom-1671462737 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 240px;
            transform: rotateY(180deg);
        }

        .custom-shape-divider-bottom-1671462737 .shape-fill {
            fill: #3498db;
        }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to right,#2c3e50, #3498db);
    }

    * {
        box-sizing: border-box;
    }

    .container {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

        .container h3 {
            width: 320px;
        }

    form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 320px;
    }

    button {
        width: 285px;
    }

    img {
        display: block;
        margin: auto;
        width: 100px;
        height: 100px
    }
</style>
<img src="~/lib/logo.png" alt="Logo">

<main>
    <div class="custom-shape-divider-bottom-1671462737">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="container">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <input type="hidden" name="ga_id" class="js-octo-ga-id-input">
        <div class="auth-form-header p-0">
            <h4>Sign in to e-Library </h4>
        </div>

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Login address</label>
                <div class="col-auto"> <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Login"> </div>

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-primary"> Submit</button>


        </form>
    </div>

</main>

